@font-face {
font-family: "lobster"; 
src: url("./fonts/lobster.ttf"); 

} 
*{
	font-family: lobster;
	margin:0;
	padding:0;
}
.wraper{
	max-width: 1140px;
	margin:0 auto;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
header{
	background-image: url(./images/h-bg.png);
	background-size: 1440px 800px;
	height:802px;
}
.logo{
	font-size: 50px;
	float: left;
	color:white;
	margin-left: 15px;
}
.nav{
	height: 75px;
	background-color:rgba(135, 111, 236, 0.2);
}
.nav ul{
		display: inline-block;
	}
ul>li{
	list-style-type:none;
	display: inline-block;
	margin-top:30px;
	font-size:20px;
	margin-left: 20px;

}
li>a{
	text-decoration:none;
		color:white;
		
}
.info{
	float: right;
	margin-top: 15px;
}
.email{
	margin-top: 15px;
	margin-right: 15px;
}
.number{
	margin-right: 15px;
}
.email a, .number a{
	color:black;
}
.desk{
	width: 500px; 
	height: 400px;
	background-color:rgba(200, 237, 253, 0.69);
	text-align: center;
	justify-content: center;
	float:left;
}
.desk h1{
/*	text-align: center;*/
	box-sizing: border-box;
	padding-top: 30%;
}
.application{
	width: 350px; 
	height: 400px;
	float: right;
	background-color: #e7e2fb;
	box-shadow: 0 0 20px 5px #470303
}
.application p{
	font-size:30px;
	text-align: center;
	padding-bottom: 15px;
	text-transform: uppercase;
}
label{
	font-size: 23px;
	padding-bottom: 15px;
	margin-left: 23%;
}
input[type="text"]{
	font-size: 25px;
	text-align:center;
	height:55px;
	border-radius: 10px;
	width:95%;
	margin-bottom: 25px;
	margin-left: 7px;
}
.btn-head{
	height: 50px;
    width: 80%;
    background-color: #ff7800;
    font-size: 25px;
    margin: 42px 0 0 30px;
    border-radius: 16px;
}
.desk, .application{
	margin-top:20px;
}
.arrow{
	margin: 50px 35%;
}
/*-------------------- section catalog ------------------------*/
.catalog{
	background-color: #e5ced2;
	height: 700px;
	margin-top: -50px;
}
.catalog h2{
	display:block;
	font-size:35px;
	margin:-10px 45%;
}
.bg-cat{
	background-color:#081d1e;
	height:500px;
	margin-top: 70px;
}
.flex-cat{
	display:flex;
	justify-content: space-between;
}
.greed{
	width:350px;
	height:480px;
	background-color: white;
	background-image: url(./images/cat.png);
	background-position: -50px 0;
	color:white;
	font-size: 35px;
}
.greed p, .awning p, .gate p{
	text-align:center;
	margin-top: 35%;
}
.awning{
	width:350px;
	height:480px;
	background-color: white;
	float: right;
	background-image: url(./images/cat.png);
	background-position: -480px 0;
	color:white;
	font-size: 35px;
}
.gate{
	width:350px;
	height:480px;
	background-color: white;
	background-image: url(./images/cat.png);
	background-position: -950px 0;
	color:white;
	font-size: 35px;
}
.about-us h2{
	display:block;
	font-size:35px;
	margin:10px 45%;
}
.about-us{
	background-image: url(./images/us-bg.jpg);
	background-size: 1350px 800px;
	background-repeat: no-repeat;
	height: 800px;
}
.us-bg p{
	font-size: 35px;
	color:white;
	text-align:center;
	margin-top:200px;
}
/*------------------how work-------------------------*/
.how-work{
	background-color:#081d1e;
}
.how-work h2{
	position: absolute;
	margin: -61px 0 0 40.5%;
	font-size: 35px;
}
.line div p{
	color:white;
	margin-top: 10px;
	margin-bottom: 100px;
	text-align: center;
}
.line div img{
	width: 50px;
	height: 50px;
/*	position: relative;
	left: 135px;*/
}
.line div{
	margin-top: 50px;
	width: 300px;
	display:inline-flex;
	justify-content: space-around;
	margin-left: 65px;
	flex-wrap:wrap;
}
.four{
	padding-left: 170px;
}
.btn-work{
	background-color: white;
	margin: -10px 0px 0px 235%;
}
/*--------------------footer--------------------------*/
.footer{
	background-color: black;
	height: 100px;
}
.email-foot{
	margin-top: 15px;
	margin-left: 15px;
}
.number-foot{
	margin-left: 15px;
	padding-top:20px;
}
.email-foot a, .number-foot a{
	color:white;
	text-decoration: none;
}
.copy{
	color:white;
	margin: 0 0 0 46.4%;
}